<header class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
        <button type="button" title="navigation" aria-label="navigation" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Сноркус Домус</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            {% for link in site.navigation %}
                  {% assign current = nil %}
                  {% if page.url == link.url or page.layout == link.layout %}
                    {% assign current = 'active' %}
                  {% endif %}

                  <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                    <a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a>
                  </li>
            {% endfor %}
        </ul>
    </div>
  </div>
</header>
