@media screen and (max-width: 768px) {
    
    .modal > div {
        font-size: 14px;
    }

    .jumbotron > h1 {
        font-size: 30px;
    }

    .jumbotron > p {
        font-size: 18px;
    }
    
    .form-control {
        height: 28px;
    }

    #postForm {
        font-size: 10px;
    }
    .thumbnail > .post-empty {
        width: 300px;
        height: 200px;
    }
    .thumbnail > .post-title {
        font-size: 18px;
        width: 300px;
    }

    .post-width > img {
        max-width: 100%;
    }